@model CheeseMVC.ViewModels.AddMenuItemViewModel

@{
    ViewBag.Title = "Add Item to Menu: " + Model.Menu.Name;
}

<h2>Add Item</h2>

<form method="post" asp-action="AddItem" asp-controller="Menu">
    <div class="form-group">
        <label asp-for="cheeseID"></label>
        <select asp-for="cheeseID" asp-items="Model.Cheeses"></select>
        <span asp-validation-for="cheeseID"></span>
    </div>

    <input type="hidden" name="menuID" value="@Model.Menu.ID" />
    <input type="submit" value="Add Item" />
</form>